<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CSCB07Project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSCB07">
        <activity android:name=".ViewPatInfoSingle" />
        <activity android:name=".ViewPatInfo" />
        <activity android:name=".BookDoctorTimeSlot" />
        <activity
            android:name=".ViewDoctorAppointments"
            android:exported="true" />
        <activity
            android:name=".ViewPatientAppointments"
            android:exported="true" />
        <activity
            android:name=".BookAppointment"
            android:exported="true" />
        <activity
            android:name=".ViewRequestedDoctors"
            android:exported="true" />
        <activity android:name=".CreateAccountActivityDoctor" />
        <activity android:name=".LoginDoctorActivity" />
        <activity android:name=".LoginPatientActivity" />
        <activity android:name=".CreateAccountActivityPatient" />
        <activity android:name=".DoctorDashboard" />
        <activity android:name=".PatientDashboard" />
        <activity android:name="EditProfilePatient" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>