<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CSCB07Project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSCB07">
        <activity android:name=".Doctor.ViewPatInfoSingle" />
        <activity android:name=".Doctor.ViewPatInfo" />
        <activity android:name=".Doctor.BookDoctorTimeSlot" />
        <activity
            android:name=".Doctor.ViewDoctorAppointments"
            android:exported="true" />
        <activity
            android:name=".Patient.ViewPatientAppointments"
            android:exported="true" />
        <activity
            android:name=".Patient.BookAppointment"
            android:exported="true" />
        <activity
            android:name=".Doctor.ViewRequestedDoctors"
            android:exported="true" />
        <activity android:name=".Doctor.CreateAccountActivityDoctor" />
        <activity android:name=".Doctor.LoginDoctorActivity" />
        <activity android:name=".Patient.LoginPatientActivity" />
        <activity android:name=".Patient.CreateAccountActivityPatient" />
        <activity android:name=".Doctor.DoctorDashboard" />
        <activity android:name=".Patient.PatientDashboard" />
        <activity android:name=".Patient.EditProfilePatient" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>